@page
@model MyPills.Pages.Stock.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container my-5">
    <h2 class="mb-4">Stock Entry Details</h2>
    
    <dl class="row mb-5">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockEntry.Medicine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockEntry.Medicine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockEntry.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockEntry.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockEntry.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockEntry.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockEntry.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockEntry.Type)
        </dd>
    </dl>
    
    <div>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
