@page
@model OverviewModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicines[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicines[0].AvailableQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicines[0].EstimatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicines[0].BoxesInPrescription)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Medicines) {
        <tr>
            <td>
                <a asp-page="./Medicines/Details" asp-route-id="@item.MedicineId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxesInPrescription)
            </td>
        
            <td>
                <a asp-page="./Stock/Create" asp-route-id="@item.MedicineId">Add Stock</a>

            </td>
            
        </tr>
    }
    </tbody>
</table>
