@page
@model MyPills.Pages.Medicines.IndexModel

@{
    ViewData["Title"] = "Medicines";
}

<div class="container my-5">
    <h2 class="mb-4">Manage Medicines</h2>

    <p>
        <a asp-page="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> <span>Add New Medicine</span></a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Medicine[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Medicine) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td class="text-end">
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="link-danger"><i class="fa-solid fa-xmark"></i></a>
            </td>
        </tr>
    }
        </tbody>
    </table>
</div>