@page
@model MyPills.Pages.Prescriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container my-5">
    <h2 class="mb-4">Prescription Details <a asp-page="./Edit" asp-route-id="@Model.Prescription.Id"><i class="fa-regular fa-pen-to-square"></i></a></h2>
    

    <dl class="row mb-5">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Prescription.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Prescription.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Prescription.ExpiryDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Prescription.ExpiryDate)
            </dd>
        </dl>

<h2 class="mb-4">
    Medicines
</h2>
<p>
    <a asp-page="Add" class="btn btn-success" asp-route-id="@Model.Prescription.Id"><i class="fa-solid fa-plus"></i> <span>Add Medicine</span></a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prescription.Medicines.First().Medicine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescription.Medicines.First().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescription.Medicines.First().ConsumedQuantity)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Prescription.Medicines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumedQuantity)
            </td>
            <td>
                <a asp-page="./EditMedicine" asp-route-id="@item.PrescriptionId" asp-route-mid="@item.MedicineId">Edit</a> |
                <a asp-page="./DeleteMedicine" asp-route-id="@item.PrescriptionId" asp-route-mid="@item.MedicineId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>